{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
<div>
    <h1>New Post</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{request.user}}">
        <div class="col">
            <label>{{form.title.label}}:</label>
            {{form.title}}
        </div>
        <div class="col">
            <label>{{form.subtitle.label}}:</label>
            {{form.subtitle}}
        </div>
        <div class="col">
            <label>{{form.publish_date.label}}:</label>
            {{form.publish_date}}
        </div>
        <div class="col">
            <label>Content:</label>
            {{form.content}}
        </div>
        <button class="btn btn-primary" type="submit">Draft Post</button>
        <a href="{% url 'blogs' %}" class="btn btn-warning">Cancel</a>
    </form>
</div>
{% endblock %}