{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}Remove Post{% endblock %}

{% block content %}
<div>
    <h1>Deleting {{post.title}}</h1>
    <p>Are you sure you want to delete this post?</p>
    <div>
        <h4>{{post.subtitle}}</h4>
        <p>Created At: {{post.created_at|date:"M d, Y H:i"}}</p>
        <p>Updated At: {{post.updated_at|date:"M d, Y H:i"}}</p>
        {% if post.published %}
            <p>Published Date: {{post.publish_date|date:"M d, Y H:i"}}</p>
        {% endif %}
        {% if post.featured %}
            <p>FEATURED</p>
        {% endif %}
        <p>{{post.content | markdown | safe}}</p>
    </div>
    <div>
        <a href="{% url 'destroypost' post.slug %}">Delete This Post</a>
        <a href="{% url 'onepost' post.slug %}" class="btn btn-secondary">Cancel</a>
    </div>
</div>
{% endblock %}