{% extends "base.html" %}

{% block title %}Remove Comment{% endblock %}

{% block content %}
<div>
    <h1>Deleting Comment</h1>
    <p>Are you sure you want to delete the comment below for the post {{post.title}}?</p>
    <div>
        <p>Created At: {{comment.created_at}}</p>
        <p>Updated At: {{comment.updated_at}}</p>
        <p>{{comment.content}}</p>
    </div>
    <div>
        <a href="{% url 'destroycomment' post.slug comment.id%}">Delete This Comment</a>
        <a href="{% url 'onepost' post.slug %}" class="btn btn-secondary">Cancel</a>
    </div>
</div>
{% endblock %}