{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container row">
    <h1>Blogs</h1>
    {% if user and drafts and user.is_staff %}
        <h3>Posts working on</h3>
        <p>
            If there is no date and time shown it means you need to set a published date for these.
        </p>
        {% for draft in drafts %}
            <div class="border col-5 m-4 p-2">
                <a href="{% url 'onepost' draft.slug %}"><h5>{{draft.title}}</h5></a>
                <p>{{draft.updated_at|date:"M d, Y"}} ({{draft.updated_at|timesince}} ago) by {{draft.author.username}}</p>
                <p><strong>{{draft.subtitle}}</strong></p>
                <a href="{% url 'editpost' draft.slug %}">edit post</a>
            </div>
        {% endfor %}
    {% endif %}
    {% if user and pub_posts and user.is_staff %}
        <h3>Posts you have published</h3>
        <p>Posts that you have published</p>
        {% for post in pub_posts %}
            <div class="border col-5 m-4 p-2">
                <a href="{% url 'onepost' post.slug %}"><h5>{{post.title}}</h5></a>
                <p>{{post.updated_at|date:"M d, Y"}} ({{post.updated_at|timesince}} ago) by {{post.author.username}}</p>
                <p><strong>{{post.subtitle}}</strong></p>
                <a href="{% url 'editpost' post.slug %}">edit post</a>
            </div>
        {% endfor %}
    {% elif user and user.is_staff %}
        <p>You currently have no published posts</p>
    {% endif %}
    {% if user.is_authenticated and user.is_staff %}
        <p><a href="{% url 'newpost' %}" class="col-4 btn btn-secondary">Create a New Post</a></p>
    {% endif %}
    {% if featured %}
        <h3>Featured Posts</h3>
        {% for feat in featured %}
            <div class="border col-5 m-4 p-2">
                <a href="{% url 'onepost' feat.slug %}"><h5>{{feat.title}}</h5></a>
                <p>{{feat.updated_at|date:"M d, Y"}} ({{feat.updated_at|timesince}} ago) by {{feat.author.username}}</p>
                <p><strong>{{feat.subtitle}}</strong></p>
                {% if user.is_authenticated and feat.author == user %}
                    <a href="{% url 'editpost' feat.slug %}">edit post</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    {% if posts %}
        <h3>All Posts</h3>
        {% for post in posts %}
        <div class="border col-5 m-4 p-2">
            <a href="{% url 'onepost' post.slug %}"><h5>{{post.title}}</h5></a>
            <p>On {{post.updated_at|date:"M d, Y"}} ({{post.updated_at|timesince}} ago) by {{post.author.username}}</p>
            <p><strong>{{post.subtitle}}</strong></p>
            {% if user.is_authenticated and post.author == user %}
                <a href="{% url 'editpost' post.slug %}">edit post</a>
            {% endif %}
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}