{% extends "base.html" %}
{% load markdown_extras %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
{# <p>Slug = {{post.slug}}</p> #}
<div class="container text-center">
    <h1>{{post.title}}</h1>
    <h2>{{post.subtitle}}</h2>
    <h6>
        {% if post.published and post.publish_date and post.updated_at != post.publish_date and not post.hide_details %}
            <span>Updated on: {{post.updated_at|date:"M d, Y"}}</span>
        {% elif post.published and post.publish_date and not post.hide_details%}
            <span>Published on: {{post.publish_date|date:"M d, Y"}}</span>
        {# Only temporary #}
        {% elif not post.hide_details %}
            <span>Created on: {{post.created_at|date:"M d, Y"}}</span>
        {% endif %}
        <span> by {{post.author.username}}</span>
        {% if post.featured and not post.hide_details %}
            <span> - FEATURED</span>
        {% endif %}
    </h6>
    {% if post.author == user %}
        <!-- <p>
            <span>Actions: </span>
            {# <a href="{% url 'editpost' post.slug %}">edit post</a> #}
            <span> | </span>
            {# <a href="{% url 'deletepost' post.slug %}">delete post</a> #}
        </p> -->
    {% endif %}
    <p>{{post.content | markdown | safe}}</p>
</div>
<div class="container row text-center">
    {% if not post.comments_disabled %}
        <div class="border row mx-md-2 my-1 px-md-2 py-1">
            <h5 class="col">Create a Comment</h5>
            <form method="POST">
                {% csrf_token %}
                <div class="col my-1">
                    <label>{{form.name.label}}: </label>
                    {# <!-- {{form.name}} --> #}
                    <input type="text" name="name" id="id_name" class="border"/>
                </div>
                <div class="col my-1">
                    <label>{{form.email.label}}:</label>
                    {# <!-- {{form.email}} --> #}
                    <input type="email" name="email" id="id_email" class="border"/>
                </div>
                <div class="col border my-1">
                    {# <!-- {{form.content}} --> #}
                    <textarea name="content" id="id_content" cols="30" rows="4"></textarea>
                </div>
                <button class="btn btn-primary my-1" type="submit">Comment</button>
                <a href="{% url 'blogs' %}" class="btn btn-secondary my-1">Return to Blogs</a>
            </form>
        </div>
        <h5>Comments</h5>
        {# Need to add in the create comment form here instead of the button #}
        {% if comments %}
            {% for comment in comments %}
                <div class="container border my-2">
                    <div>
                        <p>
                            <a href="mailto:{{comment.email}}">{{comment.name}}</a>
                            <span> said {{comment.updated_at|timesince}}:</span>
                        </p>
                        <p>{{comment.content}}</p>
                    </div>
                    {# Allow editing and deleting here #}
                    {# {% if author == comment.author %} #}
                        <!-- <div>
                            {# <a href="{% url 'editcomment' post.slug comment.id %}">Edit</a> #}
                            <span> | </span>
                            {# <a href="{% url 'deletecomment' post.slug comment.id %}">Delete</a> #}
                        </div> -->
                    {# {% endif %} #}
                </div>
            {% endfor %}
        {% else %}
            <p>There are no comments right now.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}