[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.2"
django-rest-framework = "==0.1.0"
markdown = "==3.4.4"

[dev-packages]

[requires]
python_version = "3.12"
