<!-- Navbar -->
<header class="container row text-center">
    <div>
        <h3 class="col-lg-6 col-12">Django Plugin Testing Environment</h3>
    </div>
    {# Add in routes for other plugins later #}
    <div class="btn-group col-lg-6">
        <!-- <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            Menu
        </button>
        <nav class="dropdown-menu">
            <a href="/" class="dropdown-item">Blogs</a>
        </nav> -->
        <!-- <a href="/" class="btn btn-primary">Blogs</a> -->
        <!-- <a href="#" class="btn btn-primary">Test</a> -->
    </div>
</header>