<!-- Navbar -->
<header class="container row text-center">
    {# <img src="{% static 'images/LogoName.jpg' %}" alt="Site Logo" class="m-6"/> #}
    <img src="#" alt="Site Logo Here" class="col-5-lg"/>
    <div class="btn-group col-6-lg">
        <!-- <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
            Menu
        </button>
        <nav class="dropdown-menu">
            <a href="/" class="dropdown-item">Blogs</a>
        </nav> -->
        <!-- <a href="/" class="btn btn-primary">Blogs</a> -->
        <!-- <a href="#" class="btn btn-primary">Test</a> -->
    </div>
</header>